<html>
<head>
	<title>Factors</title>
	<style>
	h1{
		text-align: center;
		font-size: 50px;
	}
	input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid red;
  border-radius: 4px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1{
background-color: #4CAF50;
}

h3{
	font-size: 28px;
}
	</style>

</head>
<body bgcolor="#000000" text="#ffffff">
	<h1>Predict the factors to be changed for the GDP you want India to obtain</h1>
	<form method="POST">
  <label for="gdp"><h3>Enter the GDP:</h3></label>
  <input type="text" id="gdp" name="gdp" size="30">
  <button class="button button1">Predict factors</button>
</form>
</body>
</html>