<!DOCTYPE html>
<html lang="en">
<head>
	<title>GDP</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="POST">
				<span class="contact100-form-title">
					Enter the growth rates of different sectors to predict GDP..
				</span>

				<label class="label-input100" for="email">1.  Agriculture,forestry & fishing</label>
				<div class="wrap-input100 validate-input" >
					<input id="aff" class="input100" type="text" name="aff" placeholder="-50 to +50" >
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email">2.  Mining & quarrying</label>
				<div class="wrap-input100 validate-input" >
					<input id="email" class="input100" type="text" name="mq" placeholder="-50 to +50" >
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email">3.  Manufacturing</label>
				<div class="wrap-input100 validate-input" >
					<input id="email" class="input100" type="text" name="manu" placeholder="-50 to +50">
					<span class="focus-input100"></span>
				</div>
				<label class="label-input100" for="email">4.  Electricity, gas, water supply & other utility services</label>
				<div class="wrap-input100 validate-input" >
					<input id="email" class="input100" type="text" name="egw" placeholder="-50 to +50">
					<span class="focus-input100"></span>
				</div>
				<label class="label-input100" for="email">5.  Construction</label>
				<div class="wrap-input100 validate-input" >
					<input id="email" class="input100" type="text" name="cons" placeholder="-50 to +50">
					<span class="focus-input100"></span>
				</div>
				<label class="label-input100" for="email">6. Trade, hotels, transport, communication and services related to broadcasting </label>
				<div class="wrap-input100 validate-input" >
					<input id="email" class="input100" type="text" name="tht" placeholder="-50 to +50">
					<span class="focus-input100"></span>
				</div>
				<label class="label-input100" for="email">7. Financial , real estate & prof servs </label>
				<div class="wrap-input100 validate-input" >
					<input id="email" class="input100" type="text" name="frp" placeholder="-50 to +50">
					<span class="focus-input100"></span>
				</div>
				<label class="label-input100" for="email">8.  Public Administration, defence and other services</label>
				<div class="wrap-input100 validate-input" >
					<input id="email" class="input100" type="text" name="pad" placeholder="-50 to +50">
					<span class="focus-input100"></span>
				</div>
				<label class="label-input100" for="email">9. Net taxes on Products</label>
				<div class="wrap-input100 validate-input" >
					<input id="email" class="input100" type="text" name="ntp" placeholder="-50 to +50">
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						Predict GDP
					</button>
				</div>
			</form>

			<div class="contact100-more flex-col-c-m" style="background-image:url('static/flag.jpg');">
				
				
				</div>

				</div>
			</div>
		</div>
	</div>



</body>
</html>
