<html>
<head>
	<title>GDP predictor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.v1 {
  border-left: 6px solid green;
  height: 700px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  margin-top: 80px;
  top: 0;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
h1{
	text-align: center;
}
.a{
	margin-left: 800px;
}
</style>
</head>
<body bgcolor="#000000" text="#ffffff">
	<div class="v1"></div>
	<h1>GDP PREDICTOR</h1>
	<div class="b">
	    <h3>Click here if you want to predict the GDP of India...</h3>
		<a href="/gdp"class="button">Predict GDP</a>
    </div>
		<div class="a">
			<h3>Click here if you want to predict factors affecting gdp</h3>
			<a href="/factors" class="button">Predict GDP</a>
		</div>
</body>
</html>
	